configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";

    font: "JetBrainsMono Nerd Font 14";

    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;

    display-drun: "Apps";
}

@theme "~/.config/rofi/themes/spotlight.rasi"
