@import "tokens/colors.css";
@import "tokens/state.css";
@import "tokens/workspace.css";
@import "tokens/widget.css";
@import "tokens/batt-clock.css";
@import "tokens/slider.css";

* {
  margin: 0;
  padding: 0;
  min-height: 0px;
  border: none;
  border-radius: 0;
  font-family: "Inter", "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background: transparent;
  padding: 0 2px;
}

/* Increase icon font-size without increasing global font-size */
window#waybar .icon,
window#waybar label.icon {
  font-size: 17px;
}

/* Removed invalid `line-height` rule for Waybar CSS */
